# Do not expose your Neon credentials to the browser

PGHOST='ep-lingering-bread-a5h944uu.us-east-2.aws.neon.tech'
PGDATABASE='BurgerTIC'
PGUSER='BurgerTIC_owner'
PGPASSWORD='dzCWjRN6IQE9'
ENDPOINT_ID='ep-lingering-bread-a5h944uu'